.icon{
    margin-left: 6%;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 height: 40px;
    
    width: 197px;
 }
 header{
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 115px;
     align-items: center;
     justify-content: space-between;
 }
 .logo{
     /* T */
 
 width: 41px;
 height: 41px;
 
 
 display: flex;
 justify-content: center;
 align-items: center;
 
 border-radius: 50%;
 background-color: #486285;
 text-align: center;
 }
 .T{
     width: 17px;
 height: 32px;
 color: white;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 26px;
 font-weight: 700;
 line-height: 33px;
 letter-spacing: 0em;
 text-align: left;
 
 }
 .brand{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;  display: block;
    color: white;
 }
 .nav{
    width:68%; 
    height: 48px;
    margin-right: 2%;
     display: block;
    }
 ul{
 list-style: none;
     display: flex;
      flex-direction:row;
       justify-content: space-between;
       align-items: center;
 margin: 0;
 padding: 0;
 }
 ul li{
     color: black;
   font-family: font-sans;
    font-weight: bold;
 text-align: center;
 }
 .button{
     border: none;
     background-color:transparent;
     color: #FFFFFF;
     font-family: sans-serif;
     font-size: 20px;
     cursor: pointer;
     font-weight: bold;
 }
 .auth {
     height: 47px;
     width: 78px;
     border-radius: 21%;
     cursor: pointer;
 }
 .log-in{
     background-color: black;
     border-color: #FFFFFF;
     color: #FFFFFF;
 }
 .sign-up{
 
     background-color: #486285;
     color: #FFFFFF;
     font-family: sans-serif;
 }
 img{
     width: 100%;
     z-index: -1;
     position: absolute;
     height: 100%;
     top: 0px;
     right: 0px;
 
 }
 body{
     width: 100%;
     height: 100%;
     margin: 0;
  }
 .intro{
     display: flex;
     flex-direction: column;
     height: auto;
     align-items: start;
     justify-content: space-between;
     height: 283px;
     width: 80%;
     position: absolute;
     left: 6%;
     top: 148px;
 }
 h1{
     overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
     width: 680px;
 top:228px;
 left: calc(100% * 148 / 1152);
 font-family: sans-serif;
 font-size: 44px;
 font-weight: 700;
 line-height: 60px;
 letter-spacing: 0px;
 text-align: left;
 color: white;
 flex-shrink: 6;
 display: flex;
 height: auto;
 }
 .p1{
     flex-shrink: 8;
 display: flex;
     width: calc(100% * 483 / 1152);
 top: 373px;
 left: calc(100% * 148 / 1152);
 color: white;
 font-family: sans-serif;
 font-size: 21px;
 font-weight: 400;
 line-height: 24px;
 letter-spacing: 0px;
 text-align: left;
 height: auto;
 }
 .b1{
 font-family: sans-serif;
 font-size: 20px;
 font-weight: 500;
 line-height: 29px;
 letter-spacing: 0px;
 text-align: center;
 color: #FFFFFF;
 background-color: #486285;
 border: none;
 width: 208px;
 height: auto;
 top: 477px;
 left: calc(100% * 148 / 1152);
 border-radius: 6px;
 
 
 }
 .sign-up{
 border: 2px solid navy;
 }
 .offer{
    margin: auto;
    height: 422px;
    width: 364px;
    background-color: lightslategrey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.details{
    width: 90%;
    height: 68%;
    background-color: #FFFFFF;
    border-radius: 6%;
    
}
.name-email{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
input{
    width: 300px;
    height: 30px;
}
.name{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 8px;
}
.Package{
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    margin: 0;
}
.sign-in{
    width: 60%;
    border-radius: 18px;
    border-color: transparent;
}
.bar{
    border: 1.6px solid white;

position: absolute;
width: 30px;
height: 0px;
}
.one{
top: 0;
}
.two{
top: 9px;
}
.three{
top: 18px;
}
.menu{
    display: none;
    cursor: pointer;
    width: 30px;
    height: 18px;
}
@media (max-width: 1023px) {
        .nav{
            display: none;

        }
        .menu{
            display: block;
        }
        .p1{
            width: 240px;
        }
        .intro{
            width: 100%;

        }
        .intro p{
text-overflow: ellipsis;     
}
.offer{
    width: 230px;
}
input{
    width: 100%;
}
.reg{
    color:#fd4848 ;
}
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 6%;

  }
  
  .dropdown-content {
    right: -2px;
    top: 20px;
    display: none;
    position: absolute;
    background-color: #46434f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}